.login-form {
  background: #ffffff;
  padding: 20px;
  border-radius: 0.25rem;

  h1 {
    color: #17a2b8;
    padding: 20px;
    text-align: center;
  }

  form {
    padding: 20px;
    border: 1px solid #17a2b8;
    border-radius: 0.25rem;
    color: #17a2b8;
  }

  .note {
    padding-top: 20px;
    font-size: 0.7rem;
    color: #17a2b8;
  }
}